{{>layouts/header}}
<form class="container" action="/hospitals" method="post">
    <div class="mb-3">
        <label class="form-label">도로명 주소 검색</label>
        <input type="text" class="form-control" name="keyword" placeholder="도로명 주소를 검색하세요. ">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#hospitals}}
        <th scope="row">{{id}}</th>
        <td><a href="/api/v1/hospitals/{{id}}">{{hospitalName}}</a></td>
        <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <a href="?page={{previous}}" type="button" class="btn btn-outline-dark">Previous</a>
    <a href="?page={{next}}" type="button" class="btn btn-outline-dark">Next</a>
</div>
{{>layouts/footer}}