{{>layouts/header}}
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        {{#article}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{title}}</td>
                <td>{{content}}</td>
            </tr>
        {{/article}}
        </tbody>
</table>
<a href="/articles">Article List</a>
<a href="/articles/new">new Article</a>
{{>layouts/footer}}